.btn {
	display:block;
    	width: 70px;
    	height: 70px;
    	line-height:50px;
    	border: 2px solid #f5f5f5;
   	border-radius: 50%;
    	color:#f5f5f5;
    	text-align:center;
    	text-decoration:none;
    	background: #464646;
    	box-shadow: 0 0 3px gray;
    	font-size: 12px;
    	font-weight:bold;
}
.btn:hover {
    	background: #3cb0fd;
}

#arabic {
   	position: absolute;
   	left: 100px; 
   	top: 305px;
	width: 60px;
	height: 60px;	
}

#chinese {
	position: absolute;
	left: 720px; 
	top: 305px;
	width: 60px;
	height: 60px;
}

#english {
	position: absolute;
	left: 400px;
	top: 300px;
}

#russian{
	position: absolute;
	left: 405px;
	top: 40px;
	width: 60px;
	height: 60px;
}

#indian{
	position: absolute;
	left: 405px;
	top: 580px;
	width: 60px;
	height: 60px;
}


